body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1356px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1356px;
  height:46px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
  text-align:right;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1356px;
  height:46px;
  color:#0000FF;
  text-align:right;
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1352px;
  word-wrap:break-word;
}
#u234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:66px;
  width:105px;
  height:31px;
  font-size:18px;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:101px;
  word-wrap:break-word;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:66px;
  width:240px;
  height:31px;
}
#u235_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:116px;
  width:105px;
  height:31px;
  font-size:18px;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:101px;
  word-wrap:break-word;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:116px;
  width:240px;
  height:31px;
}
#u237_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:176px;
  width:105px;
  height:31px;
  font-size:18px;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:101px;
  word-wrap:break-word;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:176px;
  width:240px;
  height:31px;
}
#u239_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:237px;
  width:139px;
  height:31px;
  font-size:18px;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:135px;
  word-wrap:break-word;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:237px;
  width:240px;
  height:31px;
}
#u241_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:311px;
  width:140px;
  height:25px;
}
#u242_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:48px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:-2px;
  width:44px;
  height:48px;
  color:#0000FF;
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
