body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1356px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1356px;
  height:46px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
  text-align:right;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1356px;
  height:46px;
  color:#0000FF;
  text-align:right;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1352px;
  word-wrap:break-word;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:107px;
  width:947px;
  height:60px;
}
#u145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:30px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:30px;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:233px;
  word-wrap:break-word;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:30px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:0px;
  width:237px;
  height:30px;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:233px;
  word-wrap:break-word;
}
#u147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:30px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:0px;
  width:237px;
  height:30px;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:233px;
  word-wrap:break-word;
}
#u148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:30px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:0px;
  width:236px;
  height:30px;
}
#u148_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:232px;
  word-wrap:break-word;
}
#u149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:30px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:237px;
  height:30px;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:233px;
  word-wrap:break-word;
}
#u150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:30px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:30px;
  width:237px;
  height:30px;
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:233px;
  word-wrap:break-word;
}
#u151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:30px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:30px;
  width:237px;
  height:30px;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:233px;
  word-wrap:break-word;
}
#u152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:30px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:30px;
  width:236px;
  height:30px;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:232px;
  word-wrap:break-word;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:197px;
  width:140px;
  height:25px;
}
#u153_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:48px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:-2px;
  width:44px;
  height:48px;
  color:#0000FF;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
