body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1356px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1356px;
  height:46px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
  text-align:right;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1356px;
  height:46px;
  color:#0000FF;
  text-align:right;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1352px;
  word-wrap:break-word;
}
#u224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:66px;
  width:105px;
  height:31px;
  font-size:18px;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:101px;
  word-wrap:break-word;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:66px;
  width:240px;
  height:31px;
}
#u225_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:115px;
  width:105px;
  height:31px;
  font-size:18px;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:101px;
  word-wrap:break-word;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:183px;
  width:240px;
  height:31px;
}
#u227_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:183px;
  width:138px;
  height:31px;
  font-size:18px;
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:134px;
  word-wrap:break-word;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:125px;
  width:240px;
  height:31px;
}
#u229_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:268px;
  width:140px;
  height:25px;
}
#u230_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:48px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:981px;
  top:-2px;
  width:44px;
  height:48px;
  color:#0000FF;
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
