body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1356px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1356px;
  height:46px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
  text-align:right;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1356px;
  height:46px;
  color:#0000FF;
  text-align:right;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1352px;
  word-wrap:break-word;
}
#u157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:127px;
  width:105px;
  height:31px;
  font-size:20px;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:101px;
  word-wrap:break-word;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:127px;
  width:432px;
  height:31px;
}
#u158_input {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:56px;
  width:578px;
  height:54px;
}
#u159_input {
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:54px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:178px;
  width:105px;
  height:31px;
  font-size:20px;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:101px;
  word-wrap:break-word;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:178px;
  width:432px;
  height:468px;
}
#u161_input {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:468px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:717px;
  width:105px;
  height:31px;
  font-size:20px;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:101px;
  word-wrap:break-word;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:717px;
  width:432px;
  height:310px;
}
#u163_input {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:310px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:1078px;
  width:140px;
  height:25px;
}
#u164_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:48px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:-1px;
  width:44px;
  height:48px;
  color:#0000FF;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
